@font-face {
    font-family: "AAUX Problack";
    src: url("/font/AAUX Problack.ttf");
}

@font-face {
    font-family: "AAUX Probold";
    src: url("/font/AAUX Probold.ttf");
}

@font-face {
    font-family: "AAUX Prolight";
    src: url("/font/AAUX Prolight.ttf");
}

@font-face {
    font-family: "AAUX Promedium";
    src: url("/font/AAUX Promedium.ttf");
}

@font-face {
    font-family: "AAUX Proregular";
    src: url("/font/AAUX Proregular.ttf");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("/font/GothamBold.otf");
}

@font-face {
    font-family: "Gotham-Light";
    src: url("/font/GothamLight.otf");
}