@import 'color';

body{
    background-color: #0a1235;
}

#header-carousel{
    .logo{
        height: 100px;
    }

    form{ 
        .text{
            height: 40px;
            //width: 250px;
            border-radius: 10px 0px 0px 10px;
            text-align: center;
            border: none;
        }

        .button{
            height: 40px;
            width: 130px;
            border: none;
            border-radius: 0px 10px 10px 0px;
            background-color: $wel-yellow;

            font-weight: bold;
            cursor: pointer;
        }

        p{
            font-size: 0.8rem;
        }
    }

    .dark-opacity-overlay{        
        width: 100%; 
        height: 100%; 
        z-index: 1;
        position: absolute;

        background: -webkit-linear-gradient(to right, rgba(220, 87, 112, 1) , rgba(10, 18, 53, 1));
        background: linear-gradient(to right, rgba(220, 87, 112, 1) , rgba(10, 18, 53, 1));
        mix-blend-mode: multiply;
    }

    @media (min-width: 1001px) {
        .header-carousel-img{
            width: 100vw;
            height: 900px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    
        .carousel-caption{
            top: 5%;

            left: calc((100vw - 800px) / 2);
            right: calc((100vw - 800px) / 2);
    
            h1, h2{
                font-family: 'Aaux ProBold';
            }
        }

        form{ 
            .text{
                width: 250px;
            }
        }
    }

    @media (max-width: 1000px) {
        .header-carousel-img{
            width: 100vw;
            height: 900px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    
        .carousel-caption{
            top: 1%;

            left: calc((100vw - 750px) / 2);
            right: calc((100vw - 750px) / 2);
        
            h1, h2{
                font-family: 'Aaux ProBold';
            }
        }

        form{ 
            .text{
                width: 250px;
            }
        }
    }
    
    @media (max-width: 800px) {
        .header-carousel-img{
            width: 100vw;
            height: 1000px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    
        .carousel-caption{
            top: 1%;

            left: calc((100vw - 450px) / 2);
            right: calc((100vw - 450px) / 2);
    
            h1, h2{
                font-family: 'Aaux ProBold';
            }
        }

        form{ 
            .text{
                width: 250px;
            }
        }
    }

    @media (max-width: 450px) {
        .header-carousel-img{
            width: 100vw;
            height: 1200px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    
        .carousel-caption{
            top: 1%;

            left: calc((100vw - 350px) / 2);
            right: calc((100vw - 350px) / 2);
    
            h1, h2{
                font-family: 'Aaux ProBold';
            }
        }

        form{ 
            .text{
                width: 200px;
            }
        }
    }
}

#opening{
    background-color: $wel-pink;
    color: $wel-white;
}

#footer{
    background-color: $wel-blue;
    color: $wel-white;

    img{
        height: 50px;
    }

    .learn-more{
        font-size: 1.2rem;
        color: $wel-white;
        text-decoration: underline $wel-white;
        
    }

    .copyright{
        p{
            font-size: 0.8rem;
        }
    }
}