extends layout

block content
  header#header-ld
    //- Header image carousel
    section#header-carousel.carousel.slide(data-ride="carousel")
      .carousel-inner(role="listbox")
        .carousel-caption
          img.logo(src="/images/logo-header.png")
          h1.pt-5 Where travellers meet cool Parisians

          h4.pt-5  We are creating a small community of travel enthusiasts in Paris, our city.  <br/>
                 | With a simple idea: meet the travellers who come here, and share with them our city, our neighborhoods, our lives.
                 | Make them experience the real Parisian life for a couple hours. <br/>
                 | We love to feel welcome when we travel abroad, so we do the same in our hometown. <br/>

          h4.pt-5 We think that there is a new worldwide generation of travellers, who wants to get out of mass tourism, 
                  | and put people back to the heart of travel. <br/>
                  | We like meeting people, sharing, learning, experiencing new things, with curiosity and kindness. Sharing is caring !

          h4.pt-5 We are developing the new online platform of the community. If you want to join us or receive updates of the project, 
                  | just leave us your email :

          form.pt-5(method="post" action="/addMember")
            input(type='hidden', name='_csrf', value=_csrf)
            input.text(type="text" value="" name="email" placeholder="Drop us your email")
            input.button(type="submit" value="Get news")
            p We promise : no spam, no email sales

          h4.pt-5 Meet parisians, share a moment, experience the real Parisian life.

        .carousel-item.active
          .dark-opacity-overlay
          img.mx-auto.d-block.header-carousel-img(src="/images/header-img3.png" alt="header img")   

  <!-- Body -->
  section#opening
    h4.pt-4.pb-4.mb-0.mt-0.text-center
      i.font-weight-bold Opening Spring 2018 !   

  <!-- Footer -->
  footer#footer
    h3.pt-5.text-center We are not tourists. We are travellers.

    .container.text-center.pt-5
      p.text-center Join, read, contact us :

      .d-flex.flex-row.justify-content-center.align-items-center.flex-wrap#footer-link.pt-3
        .pl-5.pr-5.pb-4
          a(href="https://www.facebook.com/welcomcity/" target="_blank")
            img.mx-auto.d-block(src="images/facebook.png" alt="Facebook")
        .pl-5.pr-5.pb-4
          a(href="https://twitter.com/WelcomParis" target="_blank")
            img.mx-auto.d-block(src="images/twitter.png" alt="Twitter")
        .pl-5.pr-5.pb-4
          a(href="https://medium.com/@WelcomParis" target="_blank")
            img.mx-auto.d-block(src="images/medium.png" alt="Medium")
        .pl-5.pr-5.pb-4
          a(href="https://www.instagram.com/welcom_paris/" target="_blank")
            img.mx-auto.d-block(src="images/insta.png" alt="Insta")
        .pl-5.pr-5.pb-4
          a(href="mailto:welcomtomycity@gmail.com")
            img.mx-auto.d-block(src="images/mail.png" alt="Mail")

    p.pt-3.text-center
      a.learn-more(href="/learnmore") Learn more

    .copyright.text-center.pt-5.pb-3
      p &copy; Welcom' 2017